<style>
.post {
    hyphens: none;
}
:root {
    /* === Cover / Landing area === */
    --cover-text-color: #23547b !important;
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: #c6ddeb !important;

    
    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: #23547b; 
    /* Light section - background color */
    --section-light-bg-color: #fff;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: #6ca7cc;
}
</style>